# ===================================================================
# GITHUB CREDENTIALS
# ===================================================================
github.login=login
github.password=password
# ===================================================================
mode.headless=false
