# ===================================================================
# GITHUB CREDENTIALS
# ===================================================================
github.environment=production
github.login=
github.password=
# ===================================================================
selenide.grid=
selenide.timeout=
