# ===================================================================
# GIT CHALLENGE
# ===================================================================
github.environment=production
github.username=
github.password=
# ===================================================================
selenide.grid=
selenide.timeout=
